@charset "utf-8";
html{
	margin: 50px;
}

body{	
	font-family: 'Montserrat', sans-serif;
}

p{
	text-align: justify;
}

.container-head{
	margin-bottom: 18px;
}

h1{
	color:orange;
}

h2{
	color:orange;
}

nav{
	background-color:Gainsboro;
	margin-bottom: 28px;
	height: 72px;	
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 15px;
}

.navawe{
	margin-left:5px;
	color: black;
}

.textportada{
	margin: 0px 20px 16px;
}

.noticia_titol{
	font-size: 28px;
	text-align: center;
 	text-decoration: underline;
}

.portadaagenda{
	margin-left: 7px;
	color: orange
}

.filaregis{
	margin-bottom: 15px;
}

.filamodal{
	margin-bottom: 8px;
}

.filainfo{
	margin-bottom: 15px;
	font-size: 10px;
	color: grey;
}

.btn-modal{
	width: 94px;
}

.btn-tamany{
	width: 140px;
}

.btn-estil:hover{
	background-color:#05214c;
	border-color:#05214c;
	color:white;
}

.btn-pisos{
	font-size: 46px;
}

.bandera{
	width: 188px;
	height: 94px;
	margin-bottom: 6px;
}

.checkbandera{
	text-align:center;
}

.containermetode{
	margin-top: 25px;
	margin-bottom: 25px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.rowmetode{
	margin-top: 15px;
	padding-left: 20px;
	padding-right: 20px;
}

.metode{
	text-align: center;
}

.containerusu{
	padding-top: 6px;
	padding-bottom: 6px;
	margin-bottom: 108px;
}

.rowform{
	margin-bottom: 18px;
}

.comentaris{
	width: 320px;
	height: 60px;
}